{# views/components/card.twig #}
{% set isBlue = (cardColor == 'blue') %}
{% set textMain = isBlue ? 'text-white' : 'text-black' %}

<div class="card relative max-w-[412px] mx-auto {{ offset ? 'xl:translate-y-[-40px] reveal-y-with-offset' : 'reveal-y' }} rounded-xl {{ cardColor == 'blue' ? 'blue-card' : 'white-card' }} hover:shadow-md transition overflow-hidden">
{% if tag %}
  <span class="{{ cardColor == 'blue' ? 'bg-[#451DC7] text-white' : 'bg-white text-[#451DC7]' }}  uppercase py-[4px] px-[12px] rounded-full absolute top-[24px] left-[24px]">{{ tag }}</span>
{% endif %}
  {% if image %}
    <img src="{{ image.src }}" alt="{{ image.alt|default('') }}" class="w-full h-[250px] object-cover">
  {% endif %}
  <div class="p-5">
    {% if categories %}
      <p class="text-sm mb-1 uppercase {{ cardColor == 'blue' ? 'text-[#04F06A]' : 'text-[#451DC7]' }}">{{ categories|join('  <span class="mx-1">·</span>  ') }}</p>
    {% endif %}
    {% if title %}
      <h3 class="reveal-y text-xl leading-snug {{ cardColor == 'blue' ? 'text-white' : 'text-black' }}">{{ title }}</h3>
    {% endif %}
    {% if url %}
    <a href="{{ url }}" class="mt-4 inline-flex flex-col w-fit before:content-[''] before:absolute before:inset-0 {{ textMain }}">
          <span class="relative block after:content-[''] after:bottom-0 after:left-0 after:absolute after:w-full after:h-[3px] after:bg-[#04F06A] after:rounded-[100px] after:translate-y-0.5">Read more</span>
        </a>
    {% endif %}
  </div>
</div>
