<!DOCTYPE html>
<html {{ site.language_attributes }} class="scroll-smooth max-w-screen overflow-x-hidden">
<head>
    <title>{{ site.name }}</title>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ function('wp_head') }}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>

{{ function('wp_footer') }}
</html>